In [1]:
import pandas as pd

In [2]:
mapping_uav_visdrone = {'bike':'bicycle', 
                        'bird':'',
                        'boat':'',
                        'building':'',
                        'car':'car',
                        'group':'pedestrian',
                        'person':'pedestrian',
                        'truck':'truck',
                        'uav': '',
                        'wakeboard':''}

In [3]:
uav123_anno_path = '/home/baudoin/pytorch-retinanet-pipeline/uav123_anno/training_annotations.csv'
saving_path = '/home/baudoin/pytorch-retinanet-pipeline/cross_evaluation_anno/uav4visdrone_training_anno.csv'
df = pd.read_csv(uav123_anno_path, names=['path','1','2','3','4','label'])
df[['1','2','3','4']] = df[['1','2','3','4']].fillna(-1).astype(int)
df = df.replace({'label':mapping_uav_visdrone}).copy()
df.loc[df['label'] == '', ['1','2','3','4']] = ''
df = df.replace(-1, '')
df.to_csv(saving_path, index = False, header = False, float_format='%.0f')

In [84]:
df.dtypes

path     object
1        object
2        object
3        object
4        object
label    object
dtype: object

In [14]:
df = pd.read_csv(saving_path, header=None)
df[5].value_counts()

pedestrian    468
car           273
bicycle        37
truck          21
Name: 5, dtype: int64

,/home/baudoin/data/UAV123/data_seq/UAV123/bike1/000001.jpg,703,361,760,475,bicycle
0,/home/baudoin/data/UAV123/data_seq/UAV123/bike...,704.0,311.0,864.0,450.0,bicycle
1,/home/baudoin/data/UAV123/data_seq/UAV123/bike...,384.0,256.0,441.0,368.0,bicycle
2,/home/baudoin/data/UAV123/data_seq/UAV123/bike...,586.0,224.0,623.0,310.0,bicycle
3,/home/baudoin/data/UAV123/data_seq/UAV123/bike...,763.0,174.0,793.0,255.0,bicycle
4,/home/baudoin/data/UAV123/data_seq/UAV123/bike...,494.0,238.0,530.0,329.0,bicycle
...,...,...,...,...,...,...
1035,/home/baudoin/data/UAV123/data_seq/UAV123/wake...,NaN,NaN,NaN,NaN,NaN
1036,/home/baudoin/data/UAV123/data_seq/UAV123/wake...,NaN,NaN,NaN,NaN,NaN
1037,/home/baudoin/data/UAV123/data_seq/UAV123/wake...,NaN,NaN,NaN,NaN,NaN
1038,/home/baudoin/data/UAV123/data_seq/UAV123/wake...,NaN,NaN,NaN,NaN,NaN
1039,/home/baudoin/data/UAV123/data_seq/UAV123/wake...,NaN,NaN,NaN,NaN,NaN